<h2>Búsqueda por:</h2>
<div>
    <ul class="list-group">
        <li
            class="list-group-item list-group-item-action"
            routerLink="/countries/by-capital"
            routerLinkActive="active"
        >
            Capital
        </li>
        <li
            class="list-group-item list-group-item-action"
            routerLink="/countries/by-country"
            routerLinkActive="active"
        >
            País
        </li>
        <LI
            class="list-group-item list-group-item-action"
            routerLink="/countries/by-region"
            routerLinkActive="active"
        >
            Continente
        </LI>
    </ul>
</div>
