<table class="table table-hover">
    <thead>
        <tr>
            <th>Sigla</th>
            <th>Ícono</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{ country.cca2 }}</td>
            <td>{{ country.flag }}</td>
            <td>
                <img [src]="country.flags.svg" [alt]="country.name.common" />
            </td>
            <td>{{ country.name.common }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.population | number }}</td>
            <td>
                <a href="#" class="btn btn-primary">Ver más</a>
            </td>
        </tr>
    </tbody>
</table>
